
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto+Mono:wght@200&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    
   
}


.navbar-brand span{
    font-family: 'Playfair Display', serif;
}

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color: grey;
     ;
     
 }

.carousel-inner {
    max-height: 20rem !important;
}


#img-equipo{
    max-height:30rem !important;
    width:50%;
    background-color: #000000;
}



#local {
    margin-top:100px;
    background-color: grey;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}



.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


#bg-contactos{
    position:relative;
    top: -130px;
    
} 

 #seccion-contacto{
    background-color: #000000;
    min-height:500px;
    position:relative;
}



#contenedor-formulario{
    margin-top: 20px;
    position:absolute;
    justify-content: center;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #000000;
    margin-top: 100px;
}

.contactoform{
    margin-top: 50px;
}

footer {
    background: #000000;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}




.cardlocales{
      display: inline-flex;
      position: relative;
      width: 300px;
      height: 300px;
      padding: 30px 30px 30px 30px;
      justify-content: space-between;
      margin: 30px;
      margin-left: 100px;
     
 }

.cardlocales .face {
       position: absolute;
       width: 100%;
       height: 100%;
       backface-visibility: hidden;
       border-radius: 10px;
       overflow: hidden;
       transition: .5s;
 }

.cardlocales .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
 }

.cardlocales .front img{
    position: absolute;
    width: 100%;
    object-fit: cover;
 }
.cardlocales .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background:grey (148, 48, 48, 0.4);
    text-align: center;
 }

.cardlocales .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

 }  

 .cardlocales .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;

 }

 .cardlocales:hover .front{
    transform: perspective(600px) rotateY(180deg);
 }

 .cardlocales:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

#nombre-locales{
    font-family: 'Playfair Display', serif;
}


@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}



@media (max-width:768px) {

    
    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    
    #bg-contactos{
        top: -120px;
    }


}


@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }

    .cardlocales{
        flex-wrap: wrap;
        margin: 30px;

    }
    
     
    #img-equipo{
        max-height:20rem !important;
        width:100%;
    }
}