@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }

   
}
 



@media (max-width:768px) {  
    .wrapper-local {
        width:100%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    
    #bg-contactos{
        top: -120px;
    }
    .container {
        flex-flow: wrap ;
        margin: 20px;
      
    }



    #seccion-contacto{
        margin: 50px;
        margin-right: 90px;
        flex-flow: wrap;
    } 

    
    
}


@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }

    .cardmenu{
        flex-wrap: wrap;
        width:70%;
        margin-left: 20px;
    }   

    .cardmenu .front h3{
      height: 50px;
                  

    }
    
    #equipo1{
        position: fixed;
        max-width: 5%;

    }

  
    #seccion-contacto{
        margin: 50px;
        margin-right: 90px;
        flex-flow: wrap;
    } 

    .container {
        flex-flow: wrap ;
      
    }
/*desaparecer footer en el html de cafe*/
    #footercoffee{
        position: fixed;
    }

    
    
}