$menu1: rgb(0, 0, 0);
$menu2: #f3f3f3;
$background-menu1: rgb(0, 0, 0);
$background-menu2:  grey (148, 48, 48, 0.4);



.cardmenu {
    display: inline-flex;
    position: relative;
    width: 300px;
    height: 300px;
    padding: 30px 30px 30px 30px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-left: 45px;
    
   

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: .5s;
        border: black;
    }

    .front {
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px black;

        img {
            position: absolute;
            width: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px;
            line-height: 45px;
            color: white;
            background: black;
            text-align: center;
           
        }
    }

    .back {
        transform: perspective(600px) rotateY(180deg);
        background-color: $background-menu1;
        padding: 15px;
        color: $menu2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        h3 {
            font-size: 30px;
            margin-top: 20px;
            letter-spacing: 2px;
        }
    }

    &:hover {
        .front {
            transform: perspective(600px) rotateY(180deg);
        }

        .back {
            transform: perspective(600px) rotateY(360deg);
        }
    }
}