$backgroundFooter:#000000;
$colorFooter:#f3f3f3;



footer {
    background: $backgroundFooter;
    min-height: 100px;
  
    p {
        color: $colorFooter;
        text-align: center;
    }
}

#iconos {
    i {
        font-size: 26px;
        padding: 0 8px;
        color: $colorFooter;
    }
}

