$colorNavbar1: grey;
$colorNavbar2:#000000;


.navbar-brand {
    span {
        font-family: 'Playfair Display', serif;
    }
}

#menu {
    a {
        font-size: 18px !important;
        font-weight: 600;
        color: $colorNavbar1;
    }

      a:hover{
        color: $colorNavbar2;
     }


}