
.navbar-brand {
    span {
        font-family: 'Playfair Display', serif;
    }
}

#menu {
    a {
        font-size: 18px !important;
        font-weight: 600;
        color: grey;
    }

      a:hover{
        color: black;
     }


}